certifi==2025.8.3
cftime==1.6.4.post1
netCDF4==1.7.2
numpy==2.2.6
packaging==25.0
pandas==2.3.2
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
tzdata==2025.2
xarray==2025.6.1
fastapi==0.116.1
pydantic==2.11.9
langchain==0.3.7
langchain-core==0.3.29
langchain-community==0.3.7
langchain-google-genai==2.1.10
langchain-huggingface==0.3.1
